.header{
    background: black;
    color: rgb(206, 50, 50);
    display: block;
  }
  .header__input{
    font-size: 18px;
    padding: 5px;
    border: none;
    background: transparent;
    color: white;
  }