///HEADER
.header {
    background: rgba(1, 5, 8, 0.76);
    color: rgb(206, 50, 50);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2rem;
}

.header__input {
    font-size: 18px;
    padding: 5px;
    border: none;
    background: transparent;
    color: white;
    font-style: italic;
}


//MOVIE
.movieRows {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
}

.movie-layout {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    background: rgba(1, 5, 8, 0.76);
}

.movie-overlay {
    background: white;
    display: flex;
    flex-direction: column;
    margin-bottom: 2rem;
    cursor: pointer;
    padding: 0 2rem;
    height: 10vh;

    &__title {
        font-size: 1rem;
        color: $text-color;
    }

    &__box {
        display: flex;
        flex-direction: column;
    }
}

.main__carousel {
    position: relative;
    background: rgba(2, 4, 31, 0.863);
}