$text-color: rgb(177, 168, 168);
$primary-color: rgba(1, 5, 8, 0.76);
$color-grey-light-1: #f7f7f7;
$color-grey-dark: #999;
$color-grey-dark-2: #333;
$color-white: #fff;
$color-black: #110f0cbb;
$color-primary:#55c57a;